name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.3
    - name: Build the Docker image
      working-directory: kali
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
